<div class="card shadow-md rounded-lg overflow-hidden bg-gray-50 transition-all duration-200 transform hover:translate-y-[-5px]">
    <div class="p-4">
        <p class="text-sm text-gray-500 mb-2">
            <span class="font-medium text-gray-700">@Card.NativeSample.Language.ToUpper():</span> @Card.NativeSample.Text
        </p>
        <p class="text-lg font-bold mb-2 text-indigo-800">
            <span class="font-medium text-gray-700">@Card.TargetSample.Language.ToUpper():</span> @Card.TargetSample.Text
        </p>
        <div class="flex flex-wrap gap-1">
            @foreach (var tag in Card.Tags)
            {
                <span class="badge bg-indigo-200 text-slate-800 px-2 py-1 rounded-full text-xs font-medium">@tag.Name</span>
            }
            <span class="badge bg-green-200 text-green-800 px-2 py-1 rounded-full text-xs font-medium">@Card.DifficultyLevel</span>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Domain.Entity.Card Card { get; set; } = new();
}