@page "/wikt"
@using Infrastructure.Lookup
@inherits SmartComponent

<div class="gap-2">
    <h3>Lookup conjugation (Wiktionary)</h3>
    <input @bind="searchWord" placeholder="Enter a verb in infinitive" />
    <ButtonPrimary OnClick="Search">Search</ButtonPrimary>
</div>

@if (showModal)
{

    <div class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,.5);">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <div class="md:hidden">
                        <div class="space-y-4">
                            <div class="grid grid-cols-2 gap-3">
                                @foreach (var mood in _data.SpecialMoods)
                                {
                                    <div class="bg-gray-100 p-2 rounded-lg shadow-md">
                                        <div class="font-bold text-sm mb-2"><Translate Text="@mood.Name" Lang="en"></Translate></div>
                                        <div class="text-blue-600 font-semibold text-md">
                                            <strong class="selflink">@mood.Form</strong>
                                        </div>
                                    </div>
                                }
                            </div>

                            @foreach(var mood in _data.Moods)
                            {
                                <div class="bg-gray-100 p-4 rounded-lg shadow-md">
                                <h3 class="font-bold text-lg mb-2 text-center"><Translate Text="@mood.Name" Lang="en"></Translate></h3>
                                <div class="space-y-3">
                                @foreach (var tense in mood.Tenses)
                                {
                                            <div>
                                                <div class="font-bold text-base mb-1"><Translate Text="@tense.Name" Lang="en"></Translate></div>
                                                <div class="grid grid-cols-2 gap-y-2">
                                                    @foreach (var conjucation in tense.Conjugations)
                                                    {
                                                        <div class="text-gray-600">@conjucation.Person</div>
                                        
                                                        <div class="text-blue-600 font-semibold">@conjucation.Form</div>
                                                    }
                                                </div>
                                            </div>
                                }
                                </div>
                            </div>
                            }
                            
                        </div>
                    </div>

                    <div class="hidden md:block">
                        <table class="table table-bordered table-striped table-hover w-full" data-toggle-category="inflection">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private string searchWord;
    private bool showModal = false;
    private ConjugationData _data;

    private async Task Search()
    {
        var options = new WiktionaryOptions
        {
            Language = TargetLanguage.EnglishName.FirstCharToUpper(),
        };
        var client = new WiktionaryClient(options);

        _data = await client.GetVerbInflectionData(searchWord);
        showModal = true;
    }
    private void CloseModal()
    {
        showModal = false;
    }
}